<html>
  <head>
    <title>Edit Resource</title>
  </head>
  <body>
    <header id="first-header">
      <h1><%= @action %></h1>
      <span>
        Welcome, <%= @user.username %> || 
        <% if @user.username == 'guest' %>
          <a href="/login">Log In</a>
        <% else %>
          <a href="/login">Log In As Another User</a>
        <% end %>
      </span>
    </header>
    <div class="spacer">
    </div>
    <div>
      <%= label_tag :file_name %><%= @df.path %>
    </div>
  </body>
</html>

