<html>
  <head>
    <title>File Upload</title>
  </head>
  <body>
    <h1>File Upload</h1>
    <% if @df %>
    <header>
      File saved under token <%= @df.digest %>
    </header>
    <% end %>
    <%= form_tag({:action => 'uploadFile'}, :multipart => true) do %>
      <p><label for="upload_file">Select File</label>: 
      <%= file_field 'upload', 'datafile' %></p>
      <%= submit_tag "Upload" %>
    <% end %>
  </body>
</html>
